$white: #f5f5f5;
$body-bg: $white;
$yellow-dark: #ffffa5;
$yellow: #ffffdf;
$sidebar-width: 4rem;
$topbar-height: 4rem;
$sidebar-bkgd: $blue;
$sidebar-text-color: $gray-dark;
$sidebar-link-color: $blue-dark;
