/*------------------------------------*\
    #TOOLTIPS
\*------------------------------------*/

/**
 * A simple tooltip component. Simply drop a `data-tooltip` attribute onto
 * (almost) any element and have a tooltip placed center-bottom on hover.
 *
 * Because the tooltip text is sourced from a `data-*` attribute, do not use
 * it for any content which *needs* to be accessible: use it for decorative
 * information only.
 */

/**
 * 1. Tooltips require positioning context.
 */
[data-tooltip] {
  position: relative; /* [1] */

  /**
   * 1. Hide our tooltips by default. This is still ‘accessible’ as our tooltip
   *    text only exists in generated content anyway.
   */
  &:before,
  &:after {
    content: none;
    content: normal;
  }

  /**
   * Show the tooltip when we give the element attention.
   *
   * 1. Fade tooltips in gradually so they don’t appear too abruptly.
   * 2. Populate the tooltips when we show the element some attention.
   * 3. Source the tooltip’s content from its `data-tooltip` attribute.
   */
  &:hover,
  &:active,
  &:focus {

    &:before,
    &:after {
      animation: 0.5s tooltip linear;
    }

    &:before {
      content: ""; /* [2] */
    }

    &:after {
      content: attr(data-tooltip); /* [2] [3] */
    }

  }

  /**
   * Create an arrow (linking the tooltip to its originator) using pure
   * CSS triangles.
   */
  &:before {
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-bottom:  -3px;
    margin-left: -5px;
    border: 5px solid transparent;
    border-top-color: $gray-darker;
  }

  /**
   * The textual part of the tooltip.
   *
   * 1. Position the text center–bottom.
   */
  &:after {
    position: absolute; /* [1] */
    bottom: 100%; /* [1] */
    left: 50%; /* [1] */
    border-radius: 3px;
    padding-right: 5px;
    padding-left:  5px;
    margin-bottom: 7px;
    white-space: nowrap;
    font-weight: normal;
    color: #fff;
    font-size: .875rem;
    background-color: $gray-darker;
    //white-space: normal; // This is weird.
    z-index: 1050;
    transform: translateX(-50%);
  }
}


@keyframes tooltip {
  from { opacity: 0; }
  50%  { opacity: 0; }
  to   { opacity: 1; }
}
